*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    background-image: url(./assets/bg.svg);

}
nav{
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 1.1rem;
}
.logo{
    margin-top: 2rem;
    height: 2rem;
}
.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    font-weight: 700;
    margin-top: 2rem;
}

.btn{
    padding: 5px 10px;
    background-color: rgb(57, 183, 233);
    color: whitesmoke;
    font-size: 1.1rem;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}

.hero{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    align-items: center;
    margin: 3rem;
}

.left{
    margin-left: 3rem;
    color: whitesmoke;
    align-items: center;
    margin-bottom: 5rem;
}
.left h2{
    font-size: 2rem;
    font-weight: 700;

}

.left p{
    margin-top: 0.7rem;
    font-size: 10px;
    font-weight: 300px;
    text-align: justify;
    width: 45vb;
    margin-bottom: 2rem;
}


.right img{
    height: 350px;
}

.hero2{
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
   
}

.left img{
    height: 450px;
}

.right {
    width: 60vh;
}

.right h2{
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}

.right h3{
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
    margin-top: 1rem;
}
.right p{
    font-size: 12px;
    color: rgb(15, 15, 15);
    font-weight: 300;
    margin-top: 5px;
}
 
.hero3{
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem;
}


.cards{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 3rem;
}
.card{
    background-color: rgb(247, 246, 246);
    padding: 5px ;
    border-radius: 10px;
    box-shadow: #817f7f;
    width: 30vb;
}

.description{
    background-color: #3d175c;
    color: white;
    border-radius: 10px;
}
.card h4{
    font-size: 16px;

}

.card p{
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.svg0{
    margin-top: 1rem;
    height: 2.5rem;
    background-color: #e8b28e;
    border-radius: 50%;
    padding: 5px  ;
}
.svg1{
    margin-top: 1rem;
    height: 2.5rem;
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 5px  ;
}
.svg2{
    height: 2.5rem;
    background-color: #a4d69c;
    border-radius: 50%;
    padding: 5px  ;
    margin-top: 1rem;
}
.svg3{
    height: 2.5rem;
    background-color: #fbc2ff;
    border-radius: 50%;
    padding: 5px;
    margin-top: 1rem;
}